@{
    ViewBag.Title = "Адрес подтверждён";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Адрес электронной почты подтверждён. Нажмите для входа  @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-sm btn-default" })
    </p>
</div>
