@{
    ViewBag.Title = "Tестовое задание";
}

<div class="jumbotron">
    <h1>УЦ Специалист</h1>
    <p class="lead">Tестовое задание</p>
        <a href="/Account/Register" class="btn btn-primary">Регистрация</a>
        <a href="/Account/Login" class="btn btn-default">Войти</a>
</div>

<div class="row">

</div>